force-app/main/default/flows/Agency_SalesBranchSendingMail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesBranchSendingMail</name>
        <label>営業店へメール送信</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <actionName>DairitenSaport_CallData__c.InsuranceFeeEstimateAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AgencyLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AgencyLoop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DairitenSaport_CallData__c.InsuranceFeeEstimateAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_UpdateList</name>
        <label>代理店コールデータ更新コレクションに追加</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>UpdateAgencyList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgencyLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputAgency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSet_SendingMailDate</name>
        <label>メール送信日付をセット</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>AgencyLoop.SendingMailDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SystemToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_UpdateList</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>InputAgency</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>対象代理店コールデータ取得</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignNextValueToReference>currentItem_InputAgency</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAgencyRecord</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_InputAgency.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>AgencyLoop.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SalesBranchSendingMail</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDay</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <formulas>
        <name>SystemToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>代理店コールデータ：営業店メールアドレスに送信 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>代理店コールデータ：保険料試算コール用メール送信</label>
    <loops>
        <name>AgencyLoop</name>
        <label>取得した代理店コールデータをループ</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>GetAgencyRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateSet_SendingMailDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAgencyRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAgencyRecord</name>
        <label>代理店コールデータの取得</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AgencyLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>クローズ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0010ＷＥＢオンライン</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0100保険料試算</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesBranchMailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CLOSEDateAndTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>CLOSEDateAndTime__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>SystemToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>SystemToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DairitenSaport_CallData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAgencyRecord</name>
        <label>代理店コールデータ更新</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <inputReference>UpdateAgencyList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAgencyRecord</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-06</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_InputAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DairitenSaport_CallData__c</objectType>
    </variables>
    <variables>
        <name>UpdateAgencyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DairitenSaport_CallData__c</objectType>
    </variables>
</Flow>
