force-app/main/default/flows/AppropriationG_TodayFieldTrueProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>TrueFieldJudge</name>
        <label>Trueとなった「計上_本日」の項目によって分岐</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>条件外</defaultConnectorLabel>
        <rules>
            <name>IsSecuritiesReissue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reissue_Today__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReissue_InputDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>証券再発行</label>
        </rules>
        <rules>
            <name>IsFire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tue_NewChange_Today__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNewFireChange_DateOfEntry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>火新異動</label>
        </rules>
        <rules>
            <name>UniqueName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.E_SupplyStop_Today__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateE_SupplySuspension_InputDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>自継停止</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeNow</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>「計上Gセクション_本日」がTrueの場合に入力日を自動設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>「計上Gセクション_本日」がTrueの場合に入力日を自動設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateE_SupplySuspension_InputDate</name>
        <label>自継停止_入力日を更新</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>E_SupplySuspension_InputDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNewFireChange_DateOfEntry</name>
        <label>火新異動_入力日を更新</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>NewFireChange_DateOfEntry__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReissue_InputDate</name>
        <label>再発行_入力日を更新</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Reissue_InputDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TrueFieldJudge</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Reissue_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tue_NewChange_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>E_SupplyStop_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
