force-app/main/default/flows/AssistLineTemplateSettingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>UpdateFieldJudge</name>
        <label>テンプレートを挿入する項目判定</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>UpdateTemplateName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>回答詳細</defaultConnectorLabel>
        <rules>
            <name>IsInquiryDetails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PasteInInquiryDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInquiryDetails</targetReference>
            </connector>
            <label>問い合わせ詳細</label>
        </rules>
    </decisions>
    <description>問い合わせ詳細・回答詳細のテンプレート選択および反映</description>
    <dynamicChoiceSets>
        <name>TemplateSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>AssistLineTemplate__c</object>
        <outputAssignments>
            <assignToReference>AssistLineTemplates</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>代理店サポートテンプレートの画面フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>代理店サポートテンプレートの選択</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>パラメータのレコードIDを使用して代理店サポートコールデータレコードを取得</description>
        <name>DairitenSaportCallDataRecord</name>
        <label>代理店サポートコールデータのレコード取得</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssistLineTemplatesSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DairitenSaport_CallData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectTemplateRecord</name>
        <label>代理店サポートテンプレートレコード取得</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TemplateDisplay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssistLineTemplates</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssistLineTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInquiryDetails</name>
        <label>問い合わせ詳細に挿入する</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InquiryDetails__c</field>
            <value>
                <elementReference>AnswerDetailsField</elementReference>
            </value>
        </inputAssignments>
        <object>DairitenSaport_CallData__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>代理店サポートテンプレートの参照先が更新され「代理店サポートテンプレート反映」フローで転記処理される</description>
        <name>UpdateTemplateName</name>
        <label>回答詳細に挿入する</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnswerDetails__c</field>
            <value>
                <elementReference>AnswerDetailsField</elementReference>
            </value>
        </inputAssignments>
        <object>DairitenSaport_CallData__c</object>
    </recordUpdates>
    <screens>
        <name>AssistLineTemplatesSetting</name>
        <label>代理店サポートテンプレート</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>キャンセル</backButtonLabel>
        <connector>
            <targetReference>SelectTemplateRecord</targetReference>
        </connector>
        <fields>
            <name>AssistLineTemplates</name>
            <choiceReferences>TemplateSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>代理店サポートテンプレート</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <pauseButtonLabel>キャンセル</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>選択されたテンプレートの回答詳細を表示</description>
        <name>TemplateDisplay</name>
        <label>テンプレート内容の表示</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateFieldJudge</targetReference>
        </connector>
        <fields>
            <name>TemplateNameDisplay</name>
            <fieldText>&lt;p&gt;【テンプレート名】&lt;/p&gt;&lt;p&gt;{!SelectTemplateRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerDetailsField</name>
            <defaultValue>
                <stringValue>{!SelectTemplateRecord.AnswerDetails__c}</stringValue>
            </defaultValue>
            <fieldText>【テンプレート内容】</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PasteInInquiryDetails</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>問い合わせ詳細で使用する</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>決定</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DairitenSaportCallDataRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnswerDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>画面フローで受け取る代理店サポートコールデータのIDを格納</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateNameVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
