force-app/main/default/flows/AutomobileMaturity_ReceivedByPhone_Interlocking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>JudgeRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsAutomobileMaturity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutomobileMaturity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateArrivalDate_Latest_DeficiencyFollow_UpDate_Latest</targetReference>
            </connector>
            <label>自動車満期</label>
        </rules>
    </decisions>
    <description>自動車満期のレコードで電話受付にチェックが入った場合、到着日と不備フォロー日へ当日日付を転記する</description>
    <environments>Default</environments>
    <formulas>
        <description>不備フォロー日（最新）に、システム日付＋3日</description>
        <name>DeficiencyFollow_3AddDays</name>
        <dataType>Date</dataType>
        <expression>{!Now}+3</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>自動車満期で電話受付チェックと到着日、不備フォロー日の連動 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>自動車満期で電話受付チェックと到着日、不備フォロー日の連動</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateArrivalDate_Latest_DeficiencyFollow_UpDate_Latest</name>
        <label>到着日と不備フォロー日を更新</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ArrivalDate_Latest__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeficiencyFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>DeficiencyFollow_3AddDays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JudgeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReceivedByPhone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReceivedByPhone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
