force-app/main/default/flows/AutoSettingsForStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>StatusJudge</name>
        <label>ステータス判定</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsDocumentShipping</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>書類発送</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateShippingDateLatest</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>書類発送</label>
        </rules>
        <rules>
            <name>IsDocumentsArrive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>書類到着</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateArrivalDateLatest</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>書類到着</label>
        </rules>
        <rules>
            <name>IsAppropriation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>計上</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDatePostedAndPersonInChargeOfPosting</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>計上</label>
        </rules>
        <rules>
            <name>IsErrorCorrection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>エラー修正</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateErrorCorrectionDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>エラー修正</label>
        </rules>
        <rules>
            <name>BSettlementEntry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B精算エントリー</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSettlementDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>B精算エントリー</label>
        </rules>
    </decisions>
    <description>以下のステータスに遷移した場合、その日時を自動設定する
・書類発送または書類発送（メール送信）→発送日（最新）
・書類到着→到着日（最新）
・計上→計上日、計上担当者
・エラー修正→エラー修正日
・Bエントリー精算→精算日</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>不備フォロー日（最新）に、システム日付＋3日</description>
        <name>DeficiencyFollow_3AddDays</name>
        <dataType>Date</dataType>
        <expression>{!Now}+3</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>ステータス遷移の自動日時設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KCCステータス遷移時の日時及び関連項目自動設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateArrivalDateLatest</name>
        <label>到着日（最新）と不備フォロー日（最新）を更新</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ArrivalDate_Latest__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeficiencyFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>DeficiencyFollow_3AddDays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDatePostedAndPersonInChargeOfPosting</name>
        <label>計上日と計上担当者を更新</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>DatePosted__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonInChargeOfPosting__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateErrorCorrectionDate</name>
        <label>エラー修正日を更新</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ErrorCorrectionDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSettlementDate</name>
        <label>精算日と精算エントリー者を更新</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>SettlementDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SettlementEntryPerson__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateShippingDateLatest</name>
        <label>発送日（最新）を更新</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Shipping_DateLatest__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusJudge</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <stringValue>書類発送</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>返送フォロー対応</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>書類到着</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>不備フォロー対応</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>計上</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>エラー修正</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B精算エントリー</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
