force-app/main/default/flows/AutomaticContinuation_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>AutomaticContinuation</name>
        <label>計上G項目を更新</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>AutomaticContinuation_Update_Triger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_ReflectionDestination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>自動継続停止</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutomaticContinuation_Update</targetReference>
            </connector>
            <label>自継停止の計上G項目を更新</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>自継停止の計上G項目を更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>計上G_入電情報更新_自継停止</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AutomaticContinuation_Update</name>
        <label>自継停止の計上G項目を更新</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>E_SupplyStop_BusinessContact__c</field>
            <value>
                <elementReference>$Record.BusinessContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_SupplySuspension_InputDate__c</field>
            <value>
                <elementReference>$Record.IncomingTelephoneCallInformation_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CustomerCallData__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AutomaticContinuation</targetReference>
        </connector>
        <object>IncomingTelephoneCallInformation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
