force-app/main/default/flows/CaseTemplateSettingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>問い合わせ詳細・回答詳細のテンプレート選択および反映</description>
    <dynamicChoiceSets>
        <name>Templates</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>CaseTemplate__c</object>
        <outputAssignments>
            <assignToReference>InquiryDetails</assignToReference>
            <field>InquiryDetails__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResponseDetails</assignToReference>
            <field>ResponseDetails__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>InquiryDetailsFieldFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!InquiryDetailsField}),{!CallDataRecord.InquiryDetails__c},{!InquiryDetailsField})</expression>
    </formulas>
    <formulas>
        <name>RemarksFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!RemarksField2}),{!CallDataRecord.Remarks__c},{!RemarksField2})</expression>
    </formulas>
    <formulas>
        <name>ResponseDetailsFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ResponseDetailsField}),{!CallDataRecord.ResponseDetails__c},{!ResponseDetailsField})</expression>
    </formulas>
    <interviewLabel>カスタマーサポートテンプレートの画面フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>カスタマーサポートテンプレートの選択</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>パラメータのレコードIDを使用してカスタマーサポートコールデータレコードを取得</description>
        <name>CallDataRecord</name>
        <label>カスタマーサポートコールデータのレコード取得</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssistLineTemplatesSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectTemplateRecord</name>
        <label>カスタマーサポートテンプレートレコード取得</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TemplateDisplay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseTemplates</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>X1</name>
        <label>レコードを更新 1</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InquiryDetails__c</field>
            <value>
                <elementReference>InquiryDetailsFieldFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>RemarksFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponseDetails__c</field>
            <value>
                <elementReference>ResponseDetailsFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>AssistLineTemplatesSetting</name>
        <label>カスタマーサポートテンプレート</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>キャンセル</backButtonLabel>
        <connector>
            <targetReference>SelectTemplateRecord</targetReference>
        </connector>
        <fields>
            <name>CaseTemplates</name>
            <choiceReferences>Templates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>カスタマーサポートテンプレート</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <pauseButtonLabel>キャンセル</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>選択されたテンプレートの回答詳細を表示</description>
        <name>TemplateDisplay</name>
        <label>テンプレート内容の表示</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <fields>
            <name>TemplateNameDisplay</name>
            <fieldText>&lt;p&gt;【テンプレート名】&lt;/p&gt;&lt;p&gt;{!SelectTemplateRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InquiryDetailsField</name>
            <defaultValue>
                <stringValue>{!SelectTemplateRecord.InquiryDetails__c}</stringValue>
            </defaultValue>
            <fieldText>【問い合わせ詳細（対応依頼用）】</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ResponseDetailsField</name>
            <defaultValue>
                <stringValue>{!SelectTemplateRecord.ResponseDetails__c}</stringValue>
            </defaultValue>
            <fieldText>【問い合わせ詳細（社内用）】</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RemarksField2</name>
            <defaultValue>
                <stringValue>{!SelectTemplateRecord.Remarks__c}</stringValue>
            </defaultValue>
            <fieldText>【対応依頼票転記内容】</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>決定</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallDataRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnswerDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InquiryDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>画面フローで受け取るカスタマーサポートコールデータのIDを格納</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateNameVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
