force-app/main/default/flows/CopyContractorAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>SwitchByRecordType</name>
        <label>レコードタイプを判定</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>RecortypeFire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExecuteCopy</targetReference>
            </connector>
            <label>火新</label>
        </rules>
        <rules>
            <name>RecordTypeIndemnityTermination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndemnityTermination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExecuteCopy2</targetReference>
            </connector>
            <label>自賠責</label>
        </rules>
    </decisions>
    <description>火新異動：「契約者住所をコピー」がTrueに変更され保存された場合、（新）契約者郵便番号/住所/住所カナを（新）被保険者郵便番号/住所/住所カナへ転記する
自賠責：</description>
    <environments>Default</environments>
    <interviewLabel>火新異動：契約者住所をコピー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>契約者住所をコピー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ExecuteCopy</name>
        <label>（新）契約者住所を（新）被保険者住所へ転記を実行</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Insured_AddressAfterChange1__c</field>
            <value>
                <elementReference>$Record.SubscribersAddressAfterChange1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_AddressAfterChange_Kana__c</field>
            <value>
                <elementReference>$Record.Post_ChangeSubscriber_AddressKana__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_PostalCodeAfterChange__c</field>
            <value>
                <elementReference>$Record.Post_ChangeSubscriber_ZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCopyAddressAfterChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ExecuteCopy2</name>
        <label>契約者住所を送付先住所へ転記を実行</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>AddresseeName__c</field>
            <value>
                <elementReference>$Record.ContractorName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCopyAddressAfterChange__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingAddress__c</field>
            <value>
                <elementReference>$Record.ContractorAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>$Record.PolicyholderZipCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SwitchByRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCopyAddressAfterChange__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
