force-app/main/default/flows/CreateDateAutoSet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>対象レコード：自動継続停止・火新異動・証券再発行・自動車異動（富国異動）を判定</description>
        <name>IsRecordTypeDetermination</name>
        <label>レコードタイプを判定</label>
        <locationX>732</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>対象外のレコードタイプ</defaultConnectorLabel>
        <rules>
            <name>IsRecordTypeDetermination_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto_ContinuationStop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReissuanceOfSecurities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutomobileTransfers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TransferOfWealth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutomotiveNew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutomobileMaturity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JudgeNullField</targetReference>
            </connector>
            <label>対象</label>
        </rules>
    </decisions>
    <decisions>
        <description>空の項目を判定</description>
        <name>JudgeNullField</name>
        <label>空の項目を判定</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NullApplicationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicationRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AnswerDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertApplicationRequest</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>申込（請求）日時がNull</label>
        </rules>
        <rules>
            <name>NullAnswerDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnswerDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertAnswerDate</targetReference>
            </connector>
            <label>登録日時がNull</label>
        </rules>
        <rules>
            <name>BothEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicationRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AnswerDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertApplicationRequest_AnswerDate</targetReference>
            </connector>
            <label>どちらもNull</label>
        </rules>
    </decisions>
    <description>受付種別が電話(自動継続停止、火新異動、証券再発行、自動車異動、富国異動)または電話受付にチェックが入った場合（自動車新規、自動車満期）、「登録日時」と「申込（請求）日時」を自動反映する</description>
    <environments>Default</environments>
    <formulas>
        <description>現在日時取得</description>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>登録日時、申込（請求）日時の自動反映 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>登録日時、申込（請求）日時の自動反映</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>InsertAnswerDate</name>
        <label>登録日時を現在日時で保存</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>AnswerDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>InsertApplicationRequest</name>
        <label>申込（請求）日時を現在日時で保存</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>ApplicationRequest__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>InsertApplicationRequest_AnswerDate</name>
        <label>登録日時、申込（請求）日時を現在日時で保存</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>AnswerDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationRequest__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsRecordTypeDetermination</targetReference>
        </connector>
        <filterLogic>( 1 ) OR( 2 AND 3 )</filterLogic>
        <filters>
            <field>ReceptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>電話</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReceivedByPhone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReceivedByPhone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>レコードタイプ名を変数へ格納</description>
        <name>RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.RecordType.DeveloperName</elementReference>
        </value>
    </variables>
</Flow>
