force-app/main/default/flows/Fire_Upadate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Tritger</name>
        <label>判定</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Fire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_ReflectionDestination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>火新異動</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Update</targetReference>
            </connector>
            <label>計上G_入電情報更新_火新異動</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>火新異動の計上G項目を更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>火新異動の計上G項目を更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Fire_Update</name>
        <label>火新異動の計上G項目を更新</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>NewFireChange_DateOfEntry__c</field>
            <value>
                <elementReference>$Record.IncomingTelephoneCallInformation_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tue_Shin_NewChangeOfInsuranceScope_Busin__c</field>
            <value>
                <elementReference>$Record.BusinessContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CustomerCallData__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tritger</targetReference>
        </connector>
        <object>IncomingTelephoneCallInformation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
