force-app/main/default/flows/InadequateDocuments_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>TargetJudgment</name>
        <label>対象判定</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>DocumentShipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_ReflectionDestination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>自賠責解約（書類不備）</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentShipping_Update</targetReference>
            </connector>
            <label>自賠責解約（書類不備）の計上G項目を更新</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>自賠責解約（書類不備）の計上G項目を更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>自賠責解約（書類不備）の計上G項目を更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>DocumentShipping_Update</name>
        <label>自賠責解約（書類不備）の計上G項目を更新</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>DocumentDispatch_BusinessContact__c</field>
            <value>
                <elementReference>$Record.BusinessContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documentation_Incomplete_Response_Detail__c</field>
            <value>
                <elementReference>$Record.ResponseContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomplete_Conversation_PartyAttribute__c</field>
            <value>
                <elementReference>$Record.ConversationPartnerAttributes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomplete_Conversation_Person__c</field>
            <value>
                <elementReference>$Record.ConversationalPartner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomplete_Date_Of_Incoming_Call_Outgoin__c</field>
            <value>
                <elementReference>$Record.IncomingTelephoneCallInformation_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incomplete_IncomingCallNumber__c</field>
            <value>
                <elementReference>$Record.IncomingTelephoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryDetail__c</field>
            <value>
                <elementReference>$Record.InquiryDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CustomerCallData__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TargetJudgment</targetReference>
        </connector>
        <object>IncomingTelephoneCallInformation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
