force-app/main/default/flows/ReissuanceOfSecurities_TransmittalNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>JudgeReissuanceOfSecurities</name>
        <label>レコードタイプが証券再発行か判定</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsReissuanceOfSecurities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReissuanceOfSecurities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetReissuanceOfSecurities</targetReference>
            </connector>
            <label>証券再発行</label>
        </rules>
    </decisions>
    <decisions>
        <name>JudgeResult</name>
        <label>レコードの取得可否</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>MaxPlus_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsNone_SerchCreateYearMonth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMaxNumberRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_1_TransmittalNumber</targetReference>
            </connector>
            <label>当月最初に作成されたレコードの場合</label>
        </rules>
    </decisions>
    <description>証券再発行の送付書番号を取得、月次で1からカウントアップしていく</description>
    <environments>Default</environments>
    <formulas>
        <name>TransmittalNumber_PlusOne</name>
        <dataType>Number</dataType>
        <expression>{!IsMaxNumberRecord.TransmittalNumber_Calculation__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>証券再発行の送付書番号取得フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>証券再発行の送付書番号取得フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>抽出条件：証券再発行、レコード作成年月が同じ、送付書番号が最大の1レコード</description>
        <name>GetReissuanceOfSecurities</name>
        <label>証券再発行、同年月作成、送付書番号最大のレコードを取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JudgeResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeDevName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReissuanceOfSecurities</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreateYearMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreateYearMonth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TransmittalNumber_Calculation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>IsMaxNumberRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeDevName__c</queriedFields>
        <queriedFields>CreateYearMonth__c</queriedFields>
        <queriedFields>TransmittalNumber_Calculation__c</queriedFields>
        <sortField>TransmittalNumber_Calculation__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Insert_1_TransmittalNumber</name>
        <label>送付書番号に1を挿入</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>TransmittalNumber_Calculation__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MaxPlus_1</name>
        <label>抽出した最大の送付書番号に1を追加する</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>TransmittalNumber_Calculation__c</field>
            <value>
                <elementReference>TransmittalNumber_PlusOne</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JudgeReissuanceOfSecurities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransmittalNumber_Calculation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GettingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>IsMaxNumberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
