force-app/main/default/flows/ReturnFollowUpDateLatest_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>ReturnFollowUpResult_Judge</name>
        <label>返送フォロー結果の判定</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>OneDaySending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReturnFollow_UpResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1日送り</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ReturnFollowUpDateLatest1</targetReference>
            </connector>
            <label>1日送り</label>
        </rules>
        <rules>
            <name>TwoDaySending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReturnFollow_UpResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2日送り</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ReturnFollowUpDateLatest2</targetReference>
            </connector>
            <label>2日送り</label>
        </rules>
        <rules>
            <name>FiveDaySending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReturnFollow_UpResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5日送り</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ReturnFollowUpDateLatest5</targetReference>
            </connector>
            <label>5日送り</label>
        </rules>
        <rules>
            <name>EightDaySending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReturnFollow_UpResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8日送り</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ReturnFollowUpDateLatest8</targetReference>
            </connector>
            <label>8日送り</label>
        </rules>
        <rules>
            <name>SIxteenDaySending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReturnFollow_UpResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>16日送り</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ReturnFollowUpDateLatest16</targetReference>
            </connector>
            <label>16日送り</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>システム日付+1日</description>
        <name>AddDays1</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.ReturnFollow_UpDate_Latest__c}), TODAY()+1, {!$Record.ReturnFollow_UpDate_Latest__c}+1)</expression>
    </formulas>
    <formulas>
        <name>AddDays16</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.ReturnFollow_UpDate_Latest__c}), TODAY()+16, {!$Record.ReturnFollow_UpDate_Latest__c}+16)</expression>
    </formulas>
    <formulas>
        <name>AddDays2</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.ReturnFollow_UpDate_Latest__c}), TODAY()+2, {!$Record.ReturnFollow_UpDate_Latest__c}+2)</expression>
    </formulas>
    <formulas>
        <name>AddDays5</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.ReturnFollow_UpDate_Latest__c}), TODAY()+5, {!$Record.ReturnFollow_UpDate_Latest__c}+5)</expression>
    </formulas>
    <formulas>
        <name>AddDays8</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.ReturnFollow_UpDate_Latest__c}), TODAY()+8, {!$Record.ReturnFollow_UpDate_Latest__c}+8)</expression>
    </formulas>
    <interviewLabel>返送フォロー結果の選択時、返送フォロー日（最新）を自動反映返送フォロー結果の選択時、返送フォロー日（最新）を自動反映返送フォロー結果の選択時、返送フォロー日（最新）を自動反映返送フォロー結果の選択時、返送フォロー日（最新）を自動反映返送フォロー結果の選択時、返送フォロー日（最新）を自動反映返送フォロー結果の選択時、返送フォロー日（最新）を自動反映返送フォロー結果の選択時、返送フォロー日（最新）を自動反映 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>返送フォロー結果の選択時、返送フォロー日（最新）を自動反映</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ReturnFollowUpDateLatest1</name>
        <label>返送フォロー日（最新）を更新（1）</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ReturnFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>AddDays1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnFollow_UpResult__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ReturnFollowUpDateLatest16</name>
        <label>返送フォロー日（最新）を更新（16）</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ReturnFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>AddDays16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnFollow_UpResult__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ReturnFollowUpDateLatest2</name>
        <label>返送フォロー日（最新）を更新（2）</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ReturnFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>AddDays2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnFollow_UpResult__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ReturnFollowUpDateLatest5</name>
        <label>返送フォロー日（最新）を更新（5）</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ReturnFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>AddDays5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnFollow_UpResult__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ReturnFollowUpDateLatest8</name>
        <label>返送フォロー日（最新）を更新（8）</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ReturnFollow_UpDate_Latest__c</field>
            <value>
                <elementReference>AddDays8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnFollow_UpResult__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReturnFollowUpResult_Judge</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(),ISCHANGED({!$Record.ReturnFollow_UpResult__c}))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
