force-app/main/default/flows/SetCLOSEDateAndTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>ステータスがクローズで保存されたかを判定します</description>
        <name>CloseDecision</name>
        <label>クローズへの変更判定</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>クローズ以外</defaultConnectorLabel>
        <rules>
            <name>Close_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>クローズ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCLOSEDateTime</targetReference>
            </connector>
            <label>クローズ</label>
        </rules>
    </decisions>
    <description>CLOSEした日付の自動セット</description>
    <environments>Default</environments>
    <formulas>
        <description>日時</description>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>CLOSE日時の自動セット {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLOSE日時の自動セット</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>クローズに変更された日時を設定</description>
        <name>SetCLOSEDateTime</name>
        <label>CLOSE日時設定</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>CLOSEDateAndTime__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloseDecision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>クローズ</stringValue>
            </value>
        </filters>
        <object>DairitenSaport_CallData__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
