force-app/main/default/flows/setKeijoDocumentCreateDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>WhenCreateDocument</name>
        <label>書類作成</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>WhenDocument</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isDocumentSend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSendDate</targetReference>
            </connector>
            <label>書類作成済み</label>
        </rules>
        <rules>
            <name>WhenIncomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isIncompleteDocument__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIncompleteDateTime</targetReference>
            </connector>
            <label>不備</label>
        </rules>
        <rules>
            <name>WhenDemand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isDocumentDemand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDemandNoticeCreationDate</targetReference>
            </connector>
            <label>督促</label>
        </rules>
        <rules>
            <name>WhenComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isDocumentComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCompleteDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>完了</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>計上グループ帳票作成時日付設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>計上グループ帳票作成時日付設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>setCompleteDate</name>
        <label>解約通知作成日を設定</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>DateOfCancellationNotice__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDocumentComplete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setDemandNoticeCreationDate</name>
        <label>督促通知作成日を設定</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>DemandNoticeCreationDate__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDocumentDemand__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setIncompleteDateTime</name>
        <label>不備通知作成日時を設定</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>IncompleteNoticeCreationDate__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isIncompleteDocument__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setSendDate</name>
        <label>書類発送日を設定</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>DateOfCreationOfDocumentDispatch__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDocumentSend__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhenCreateDocument</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
