force-app/main/default/flows/UpdateRegisterField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>ReceptionTypeJudge</name>
        <label>受付種別の判定</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>EntryUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>電話以外の場合</defaultConnectorLabel>
        <rules>
            <name>IsTelephone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReceptionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>電話</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistrationDateNullJudge</targetReference>
            </connector>
            <label>受付種別が電話の場合</label>
        </rules>
    </decisions>
    <decisions>
        <description>他フローの「登録日時、申込（請求）日時の自動反映」により値が入っているか判定</description>
        <name>RegistrationDateNullJudge</name>
        <label>登録日時がnullか判定</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>UpdateRegistrationPersonOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>登録日時が入力済</defaultConnectorLabel>
        <rules>
            <name>IsRegistrationDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RegistrationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRegistrationsField</targetReference>
            </connector>
            <label>登録日時がnull</label>
        </rules>
    </decisions>
    <description>問い合わせ詳細が変更される保存があった場合、登録日時に現在時刻、登録担当者にユーザを自動転記する</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>登録担当者と登録日時の自動更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>登録担当者と登録日時の自動更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>EntryUpdate</name>
        <label>登録担当者と登録日時の更新</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>PersonInChargeOfRegistration__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRegistrationPersonOnly</name>
        <label>登録担当者が空の場合は更新</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonInChargeOfRegistration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonInChargeOfRegistration__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRegistrationsField</name>
        <label>登録担当者と登録日時の更新</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>PersonInChargeOfRegistration__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegistrationDate__c</field>
            <value>
                <elementReference>DateTimeNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReceptionTypeJudge</targetReference>
        </connector>
        <filterLogic>1 OR ( 2 AND 3 )</filterLogic>
        <filters>
            <field>InquiryDetails__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InquiryDetails__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
